In [1]:
import configparser

In [2]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT = config.get("CLUSTER","HOST")

DWH_ROLE_ARN=config.get("IAM_ROLE","ARN")

LOG_DATA = config.get("S3", "LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

In [3]:
"host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values())

'host=dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com dbname=dwh user=dwhuser password=Passw0rd port=5439'

In [4]:
%load_ext sql

In [5]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [31]:
%run -i 'create_tables'

In [32]:
%run -i 'etl'

### The following two queries were used to help the debug error when loading values into tables

In [6]:
%%sql
select distinct tbl, trim(name) as table_name, query, starttime,
trim(filename) as input, line_number, colname, err_code,
trim(err_reason) as reason
from stl_load_errors sl, stv_tbl_perm sp
where sl.tbl = sp.id
and table_name = 'staging_songs_table'
order by starttime DESC, table_name, colname, reason

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [7]:
%%sql 
select * FROM stl_loaderror_detail

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

# Load staging_songs_table
#### Create songs staging table

In [8]:
%%sql 
DROP TABLE IF EXISTS staging_songs_table;
CREATE TABLE "staging_songs_table" (
    num_songs           varchar(25), 
    artist_id           varchar(25),
    artist_longitude    float,
    artist_latitude     float,
    artist_location     varchar(256),
    artist_name         varchar(256),
    song_id             varchar(32),
    title               varchar(256),
    duration            float8,
    year                integer
);

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into staging_songs_table

In [9]:
%%time
qry = """
    copy staging_songs_table from '{}'
    credentials 'aws_iam_role={}'
    compupdate off region 'us-west-2'
    json 'auto';
""".format(SONG_DATA, DWH_ROLE_ARN)

%sql $qry

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
CPU times: user 3.07 ms, sys: 4.4 ms, total: 7.47 ms
Wall time: 3min 19s

#### Check if data was loaded into songs staging table

In [10]:
%%sql 
select * FROM staging_songs_table
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('1', 'ARQVORN11F50C4EFEC', None, None, '', 'Bedlight For Blue Eyes', 'SOMFRKT12A8C146C67', 'Without You', 165.38077, 0),
 ('1', 'AR8JO2B1187B98EBB6', None, None, 'New York City, NY, USA', 'Leftöver Crack', 'SORLTAN12AF72ABBFA', 'Life Causes Cancer', 161.33179, 2007),
 ('1', 'AR1XD261187B9ACF9B', None, None, '', 'Nick Cave/Warren Ellis', 'SOIYETP12A6D4F8B04', 'The Rider #3', 67.83955, 2006),
 ('1', 'AR19SOA1187B98F6E6', -74.00712, 40.71455, 'New York', 'Bob Neuwirth', 'SOFUBCP12A8C13D5EF', 'Biding Her Time', 241.10975, 1990),
 ('1', 'ARZN98V1187B990D1D', 18.06243, 59.33217, 'Stockholm, Sweden', 'THERION', 'SOMKNDC12A8C13AB14', 'Enter Vril-ya', 421.53751, 2000)]

# Load staging_events_table
#### Create events staging table

In [11]:
%%sql 
DROP TABLE IF EXISTS "staging_events_table";
CREATE TABLE "staging_events_table" (
    artist          varchar(256),
    auth            varchar(25),
    firstName       varchar(128),
    gender          varchar(2),
    iteminSession   integer,
    lastName        varchar(128),
    length          float8,
    level           varchar(10),
    location        varchar(128),
    method          varchar(5),
    page            varchar(22),
    registration    bigint,
    sessionid       integer,
    song            varchar,
    status          integer,
    ts              timestamp,
    useragent       varchar(256),
    userId     	    integer
);

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into staging_events_table

In [12]:
%%time
qry = """
    copy staging_events_table from '{}'
    credentials 'aws_iam_role={}'
    region 'us-west-2' compupdate off 
    JSON '{}'
    TIMEFORMAT as 'epochmillisecs';
""".format(LOG_DATA, DWH_ROLE_ARN, LOG_JSONPATH)

%sql $qry

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
CPU times: user 1.52 ms, sys: 4.14 ms, total: 5.66 ms
Wall time: 1.64 s

#### Check if data was loaded into events staging table

In [13]:
%%sql 
select * FROM staging_events_table LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Miami Horror', 'Logged In', 'Kate', 'F', 88, 'Harrell', 250.8273, 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', 1540472624796, 293, 'Sometimes', 200, datetime.datetime(2018, 11, 7, 0, 1, 16, 796000), '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('The White Stripes', 'Logged In', 'Kate', 'F', 89, 'Harrell', 241.8673, 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', 1540472624796, 293, 'My Doorbell (Album Version)', 200, datetime.datetime(2018, 11, 7, 0, 5, 26, 796000), '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Juan Carmona', 'Logged In', 'Kate', 'F', 90, 'Harrell', 331.44118, 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', 1540472624796, 293, 'Panales de Algodon', 200, datetime.datetime(2018, 11, 7, 0, 9, 27, 796000), '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Alison Krauss / Union Station', 'Logged In', 'Kate', 'F', 91, 'Harrell', 171.04934, 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', 1540472624796, 293, 'Restless', 200, datetime.datetime(2018, 11, 7, 0, 14, 58, 796000), '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Bullet For My Valentine', 'Logged In', 'Kate', 'F', 92, 'Harrell', 235.65016, 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', 1540472624796, 293, 'Begging For Mercy', 200, datetime.datetime(2018, 11, 7, 0, 17, 49, 796000), '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97)]

# Load users Dimension
#### Create users dimension table

In [14]:
%%sql 
DROP TABLE IF EXISTS "users";
CREATE TABLE "users" (
    user_id             varchar(64)     not null,
    first_name          varchar(256)    not null,
    last_name           varchar(256)    not null,
    gender              varchar(8)      not null,
    level               varchar (16)    not null,
    primary key(user_id)
)
DISTSTYLE ALL
SORTKEY ("level", "user_id");

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into users dimension table

In [15]:
%%sql 
INSERT into users(user_id,first_name,last_name,gender,level)
SELECT distinct userId AS user_id,firstName as first_name,lastNAme AS last_name,gender,level from staging_events_table
Where userId is not null;

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
105 rows affected.

[]

In [16]:
#### Check if data was loaded into users dimension table

In [17]:
%%sql 
select * FROM users
Limit 10

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('10', 'Sylvie', 'Cruz', 'F', 'free'),
 ('100', 'Adler', 'Barrera', 'M', 'free'),
 ('101', 'Jayden', 'Fox', 'M', 'free'),
 ('11', 'Christian', 'Porter', 'F', 'free'),
 ('12', 'Austin', 'Rosales', 'M', 'free'),
 ('13', 'Ava', 'Robinson', 'F', 'free'),
 ('14', 'Theodore', 'Harris', 'M', 'free'),
 ('15', 'Lily', 'Koch', 'F', 'free'),
 ('16', 'Rylan', 'George', 'M', 'free'),
 ('17', 'Makinley', 'Jones', 'F', 'free')]

# Load Songs Dimension
#### Create songs dimension table

In [18]:
%%sql 
DROP TABLE IF EXISTS "songs";
CREATE TABLE "songs" (
    song_id             varchar(64)     not null sortkey,
    title               varchar(256)    not null,
    artist_id           varchar(64)     not null distkey,
    year                integer         not null,
    duration            float8          not null,
    primary key(song_id)
);

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into songs dimension table

In [19]:
%%sql 
INSERT into songs(song_id,title,artist_id,year,duration)
SELECT distinct song_id,title,artist_id,year,duration from staging_songs_table;

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
14896 rows affected.

[]

#### Check if data was loaded into songs dimension table

In [20]:
%%sql 
SELECT * from songs
ORDER BY 1, 2, 3, 4, 5
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, 153.36444),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, 343.09179),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, 180.76689),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, 263.99302),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, 385.90649),
 ('SOAADUU12AB0183B6F', 'Intro / Locataire (Instrumental)', 'AR70XXH1187FB44B55', 0, 101.92934),
 ('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 'AR5N8VN1187FB37A4E', 1991, 415.81669),
 ('SOAAETA12A6D4FC626', 'Shine', 'ARQXK0B1187B9ACC97', 2007, 448.23465),
 ('SOAAFHQ12A6D4F836E', "Ridin' Rims (Explicit Album Version)", 'AR3CQ2D1187B9B1953', 2006, 322.84689),
 ('SOAAFUV12AB018831D', 'Where Do The Children Play? (LP Version)', 'AR5ZGC11187FB417A3', 0, 216.05832)]

# Load artists Dimension
#### Create artists dimension table

In [21]:
%%sql 
DROP TABLE IF EXISTS "artists";
CREATE TABLE "artists" (
    artist_id           varchar(64)     not null sortkey,
    name                varchar(256)    not null,
    location            varchar(256)    not null,
    lattitude           float,
    longitude           float,
    primary key(artist_id)
);

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into artists dimension table

In [22]:
%%sql 
INSERT into artists(artist_id, name, location, lattitude, longitude)
SELECT distinct artist_id, artist_name as name, coalesce(artist_location,'') as location, artist_latitude as lattitude, artist_longitude as longitude from staging_songs_table;

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
10025 rows affected.

[]

#### Check if data was loaded into artists dimension table

In [23]:
%%sql
SELECT artist_id, name, location, lattitude, longitude FROM artists
ORDER BY 2, 1, 3, 4, 5
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARTW7I31187B9A4CA9', '!!!', '', None, None),
 ('ARRPWJ81187B99FB84', '& And Oceans', '', None, None),
 ('ARY35JW1187B998233', "'68 Comeback", '', None, None),
 ('ARHZZOQ1187B9AE734', "'t Hof Van Commerce", '', None, None),
 ('AR1NRFQ1187B994284', '-123min.', '', None, None)]

# Load time Dimension
#### Create time dimension table

In [24]:
%%sql 
DROP TABLE IF EXISTS "time";
CREATE TABLE "time" (
    start_time          timestamp       not null,
    hour                integer         not null,
    day                 integer         not null,
    week                integer         not null,
    month               integer         not null,
    year                integer         not null,
    weekday             boolean         not null,
    primary key(start_time)
);

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into time dimension table

In [25]:
%%sql 
INSERT into time(start_time, hour, day, week, month, year, weekday)
SELECT 
    distinct
    ts as start_time,        
    extract(hour from ts) as hour,
    extract(day from ts) as day,
    extract(week from ts) as week, 
    extract(month from ts) as month,
    extract(year from ts) as year,
    extract(weekday from ts) as weekday
from staging_events_table a
where ts is NOT NULL
Order by a.ts desc;

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
8023 rows affected.

[]

#### Check if data was loaded into time dimension table

In [26]:
%%sql 
SELECT 
    *
from time
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 7, 0, 17, 49, 796000), 0, 7, 45, 11, 2018, True),
 (datetime.datetime(2018, 11, 7, 0, 43, 0, 796000), 0, 7, 45, 11, 2018, True),
 (datetime.datetime(2018, 11, 7, 1, 35, 0, 796000), 1, 7, 45, 11, 2018, True),
 (datetime.datetime(2018, 11, 7, 3, 3, 28, 796000), 3, 7, 45, 11, 2018, True),
 (datetime.datetime(2018, 11, 7, 5, 39, 3, 796000), 5, 7, 45, 11, 2018, True)]

## Load Songplays fact table
#### Create songplays fact table

In [27]:
%%sql 
DROP TABLE IF EXISTS "songplays";
CREATE TABLE "songplays" (
    songplay_id         bigint          IDENTITY(0,1)   not null,
    start_time          timestamp       not null sortkey,
    user_id             varchar(64)     not null,
    level               varchar(16)     not null,
    song_id             varchar(64)     not null,
    artist_id           varchar(64)     not null,
    session_id          varchar(64)     not null,
    location            varchar(256)    not null,
    user_agent          varchar(256)    not null
)
DISTSTYLE ALL;

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into sonplays fact table

In [28]:
%%sql 
INSERT into songplays(start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
SELECT 
    ts,
    userId,
    level,
    song_id,
    artist_id,
    sessionid,
    a.location,
    useragent
from staging_events_table a,
staging_songs_table b
where a.song = b.title
and a.artist = b.artist_name
and page = 'NextSong'

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
333 rows affected.

[]

#### Check if data was loaded into songplays fact table

In [29]:
%%sql
SELECT * FROM songplays
ORDER BY songplay_id DESC
LiMIT 5

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(611, datetime.datetime(2018, 11, 30, 14, 7, 56, 796000), '85', 'paid', 'SOXFSTR12A8AE463B0', 'ARR3ONV1187B9A2F59', '977', 'Red Bluff, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (603, datetime.datetime(2018, 11, 5, 17, 0, 27, 796000), '73', 'paid', 'SOBANHD12A58A7BB7C', 'ARSUFX91187FB3B73E', '255', 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (595, datetime.datetime(2018, 11, 10, 20, 2, 59, 796000), '36', 'paid', 'SOFOOFA12A58A7965E', 'ARQGRMP11E2835E446', '439', 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (587, datetime.datetime(2018, 11, 5, 11, 14, 0, 796000), '44', 'paid', 'SOCDOVE12AB01808DE', 'ARYE9E71187B9AA1B3', '269', 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (579, datetime.datetime(2018, 11, 29, 17, 56, 29, 796000), '16', 'paid', 'SOEDHLM12AB0187C73', 'ARUOOPO119B8668087', '983', 'Birmingham-Hoover, AL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')]

### Get the number of rows in each table this will help with Distkey selection

In [33]:
%%sql
select tab.table_schema,
       tab.table_name,
       tinf.tbl_rows as rows
from svv_tables tab
join svv_table_info tinf
          on tab.table_schema = tinf.schema
          and tab.table_name = tinf.table
where tab.table_type = 'BASE TABLE'
      and tab.table_schema not in('pg_catalog','information_schema')
      and tinf.tbl_rows > 1
order by tinf.tbl_rows desc;

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('public', 'staging_songs_table', Decimal('14896')),
 ('public', 'songs', Decimal('14896')),
 ('public', 'artists', Decimal('10025')),
 ('public', 'staging_events_table', Decimal('8056')),
 ('public', 'time', Decimal('8023')),
 ('public', 'songplays', Decimal('333')),
 ('public', 'users', Decimal('105'))]